frcnn_nobn.model #proposal_weights
proposal_nobn.prototxt #proposal_net_structure
frcnn_nobn.model #detection_weights
detection_nobn.prototxt #detection_net_structure
convf_rpn #share_conv_layer
rpn_bbox_pred_out #rpn_box
rpn_cls_prob_out #rpn_prob
bbox_pred #det_box
cls_prob #det_prob
192 #image_min_short_side
256 #image_max_short_side
16 #min_window_size_in_conv_map
200 #max_proposal_after_nms
4000 #max_candidate_proposal
0.50 #rpn_nms_threshold
0.30 #det_nms_threshold(low)
0.50 #det_nms_threshold(high)
1 #det_regression_iter_size
星巴克杯 0.95
可口可乐 0.90
易拉罐 0.90
普通杯 0.90